[package]
name = "image2"
version = "1.3.0"
authors = ["Zach Shipko <zachshipko@gmail.com>"]
license = "ISC"
keywords = ["image", "image-processing"]
repository = "https://github.com/zshipko/image2-rs"
documentation = "https://docs.rs/image2"
description = "A simple image processing library"
readme = "README.md"
edition = "2021"


[dependencies]
half = "2"
thiserror = "1"
euclid = "0.22"
cpp = {version = "0.5", optional = true}
rayon = {version = "1", optional = true}
serde = {version = "1", optional = true, features = ["derive"]}
halide-runtime = {version = "0.6", optional = true}
glutin = {version = "0.28", optional = true}
gl = {version = "0.14", optional = true}

[build-dependencies]
cpp_build = {version = "0.5", optional = true}

[dev-dependencies]
smol = "1"

[features]
default = ["oiio", "parallel", "window"]
window = ["gl", "glutin"]
oiio = ["cpp", "cpp_build"]
parallel = ["rayon"]
halide = ["halide-runtime"]
serialize = ["serde", "euclid/serde"]

[package.metadata.docs.rs]
no-default-features = true
features = ["window", "parallel", "halide", "serialize"]

[[example]]
name = "window"
required-features = ["window"]
