[package]
name = "image2"
version = "0.11.0"
authors = ["Zach Shipko <zachshipko@gmail.com>"]
license = "ISC"
keywords = ["image", "image-processing"]
repository = "https://github.com/zshipko/image2-rs"
documentation = "https://docs.rs/image2"
description = "A simple image processing library"
readme = "README.md"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[dependencies]
num = "0.2"
euclid = "0.19"
lazy_static = "1"
palette = "0.4"
rayon = {version = "1", optional = true}
rscam = {version = "0.5", optional = true}
serde = {version = "1", optional = true, features=["derive"]}

[build-dependencies]
cc = "1"

[features]
default = ["parallel", "io"]
io = []
v4l = ["rscam"]
ser = ["serde"]
parallel = ["rayon"]
